@import "https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap"
$kanit: 'Kanit', serif

.coppyright
  float: left
  color: #B2B2B2
  padding-left: 20px
  padding-top: 10px
  font-size: 30
  text-align: center
.coppyright a
  color: #B2B2B2
  text-decoration: none
.coppyright a:hover
  color: white

.links
    float: left
    padding-left: 55%
    padding-right: 30px
    padding-top: 0px
    font-size: 26px
.links a
    font-family: $kanit
    text-decoration: none
    color: #B2B2B2
    padding-left: 17px

.links a:hover
  color: white
