<!doctype html>
<html lang="en">
  <link rel="stylesheet" type="text/css" href="{{ Site.baseurl }}/assets/css/styles.css">
  {% include head.html %}
  <body style="  background-color: #3C4048">
    <div class="page-container">
      <div class="leftpadding"></div>
      <div class="content-wrap">
        {% include navigation.html %}
        <section>
          {{ content }}
        </section>
      </div>
      <div class="footer">
        {% include footer.html %}
      </div>
      <div class="rightpadding"></div>
    </div>
  </body>
</html>
